.carousel {
    //
}

.article-list {
    display: flex;
    flex-wrap: wrap;

    a {
        max-width: 50%;
        text-decoration: none;        

        @media screen and (min-width: $xs) {
            max-width: 50%;
        }

        @media screen and (min-width: $sm) {
            max-width: 50%;
        }

        @media screen and (min-width: $md) {
            max-width: 33.3%;
        }

        @media screen and (min-width: $lg) {
            max-width: 25%;
        }

        article {

            header {
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
            }            
    
        }
    }   

}